.dl-category-ds {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.dl-card-body {
    flex: 1 1 auto;
    padding-top: 1.25rem;
    padding-right: 2.25rem;
    padding-bottom: .35rem;
    padding-left: .70rem;
}

.card:hover img {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.7;
}

.card img {
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.dl-card-img-wrapper {
    overflow: hidden;
}