<div class="container">
  <h1 class="text-center mt-5">Categories</h1>
  <div class="row">
    <div class="col-md-3 mt-4">
      <div class="card border-0 dl-category-ds">
        <div class="dl-card-img-wrapper">
          <img src="{{category.photo}}" class="card-img-top" alt="Card image cap">
        </div>
        <div class="card-body dl-card-body">
          <div class="row"> 
            <div class="col-sm-12">
              <h6 class="card-title">{{category.categoryName}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
